/* ===============================
    Form to create new tweet
=============================== */

.main-form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
}

.main-form-input{
    width: 100%;
    resize: none;
    color: #545149;
    font-weight: 700;
    margin: 10px 0 20px 0;
    padding: 10px 15px;
    background: none;
    border: none;
    border-bottom: 3.5px solid #545149;
    outline: none;
}

.main-bottom{
    font-family: 'Bungee', cursive;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-button{
    width: 100px;
    height: 40px;
    background-color: #4056A1;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* ===============================
       List of all tweets
=============================== */



.main-tweet{
    margin: 70px 0;
    padding: 30px;
    transition: all .1s;
    border:3.5px solid #545149;
}
.main-tweet:hover{
    box-shadow: 12px 12px 0px #5d76c2;
    }

/* Header of tweet */
.header-tweets, .header-info{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.header-info-pic{
    width: 50px;
    margin-right: 20px;
}
.header-nickname{
    opacity: 0;
    font-weight: 400;
    transition: all .1s;
}
.main-tweet:hover .header-nickname{
    opacity: 1;
    color:#5d76c2;
}

/* Tweet content */
.tweets-text{
    font-weight: 400;
}

/* Footer of tweet */
.footer-tweets{
    margin: 20px 0;
    border-top: 3.5px solid #545149;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 5%;
    opacity: .8;
}
/* ------- Icons in tweeters list ------ */
.heart:hover{
    color:red;
}
.star:hover{
    color:yellowgreen;
}
.arrow:hover{
    color:#5d76c2;
}